@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #afa183;
    --background: #fbfbfb;
    --foreground: #e2e3e5;
    --light-background: #f6f6f6;
    --light-foreground: #e3e4e6;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #121a25;
    --primary-foreground: #707070;
    --secondary: #fbfbfb;
    --secondary-foreground: #47474729;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --red: #ff000029;
    --warning: #feb53e;
    --light-dark: #666666;
  }
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-helvetica);
}

.font-helvetica {
  font-family: var(--font-helvetica);
}

.font-Helveticalight {
  font-family: var(--font-helvetica-light);
}

.font-belgium {
  font-family: var(--font-belgium);
}

.font-jadyn {
  font-family: var(--font-jadyn);
}

.font-currency {
  font-family: var(--font-currency);
}

.linkactive {
  position: relative;
}

.linkactive::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #afa183;
}

.link-underline {
  position: relative;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #afa183;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}


.link-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ant-select-selector {
  border-color: #121a25 !important;
}

.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background-color: #bfbfbf !important;
}

.swiper-pagination-bullet-active {
  background-color: #949494 !important;
}

.anticon.anticon-exclamation-circle {
  color: #949494 !important;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: black !important;
  border-color: black !important;
}

.ant-table-selection .ant-checkbox-inner::after {
  background-color: transparent !important;
}

.custom-checkbox:hover .ant-checkbox-inner {
  border-color: black !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black !important;
  border-color: black !important;
}


.custom-collapse .ant-collapse-header:has(.custom-collapse-active) .ant-collapse-expand-icon {
  color:  var(--main) !important;
}

.custom-collapse .ant-collapse-item-active .ant-collapse-header{
  border: 1px solid var(--main) !important;
}


.dark .custom-input-bg {
  background-color: #f6f6f6 !important;
  color: black !important;
}

/* Custom Slick Slider Arrows */
.slider-container {
  position: relative;
}

.slider-container .slick-prev,
.slider-container .slick-next {
  position: absolute;
  top: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  height: auto;
  width: auto;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: #121a25;
  z-index: 2;
}

.slider-container .slick-prev {
  left: 50px !important;
  z-index: 1;
}

.slider-container .slick-next {
  right: 50px !important;
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  display: none;
}

.slider-container .slick-prev:hover,
.slider-container .slick-prev:focus,
.slider-container .slick-next:hover,
.slider-container .slick-next:focus {
  background-color: black;
  color: white;
}

.custom-table .ant-spin-nested-loading {
  min-width: 1024px !important;
}

.custom-color-selector .ant-select-selector {
  border: 0 !important;
  width: 140px !important;
  font-size: 15px !important;

}

.custom-color-selector .ant-select-selector .ant-select-selection-item {
  font-weight: 600 !important;
}

.custom-radio.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: var(--main);
  background-color: var(--main);
}

.custom-radio.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: var(--main);
}

/* Pagination bullets */
.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #000000;
  opacity: 1;
}

.sofa_slider2 .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
}

.sofa_slider2 .swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1;
}

.sofa_slider1 .swiper-pagination-bullet {
  background: #6e6e6e;
  opacity: 0.7;
}

.sofa_slider1 .swiper-pagination-bullet-active {
  background: #000000;
  opacity: 1;
}

.sofa_swiper .swiper-pagination-bullet {
  background: #949494 !important;
  opacity: 1;
}

.sofa_swiper .swiper-pagination-bullet-active {
  background: #bfbfbf !important;
  opacity: 1;
}

.sofa_swiper .swiper-pagination {
  bottom: 0.5% !important;
  left: 15% !important;
}

.slick-slider.product-slider.custom-Slick {
  position: unset !important;
}

.product-slider.custom-Slick .slick-list {
  height: 645px !important;
}

.custom-box-shadow {
  box-shadow: 0px 0px 5px 2px rgba(175, 161, 132, 1);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(175, 161, 132, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(175, 161, 132, 1)
}

.slick-slider.product-slider.custom-Slick .slick-slide.slick-active.slick-center.slick-current img {
  border: 2px solid #afa183;
}

.slick-next:before,
.slick-prev:before {
  content: none !important;
}

.custom-swiper-pagination {
  position: absolute;
  bottom: -20px !important;
}

.slick-best-seller .slick-arrow.slick-next,
.slick-best-seller .slick-arrow.slick-prev {
  display: none !important;
}

.slider-container.slick-best-seller.isLenght .slick-slider .slick-track {
  margin: 0;
}

.detail {
  font-family: var(--font-helvetica) !important;
}


.card-slider-home .swiper-pagination {
  bottom: 155px !important;
}

.accessories-Slider.card-slider-home .swiper-pagination {
  bottom: 0px !important;
}

.cardBtn-quick-view:hover svg {
  fill: black;
}

.cardBtn-addToCart:hover svg {
  fill: white;
}

.ant-image-preview-mask {
  background-color: white !important;
}

.quick-view-btn {
  position: relative;
}

.quick-view-btn::before {
  content: '';
  position: absolute;
  top: -12px; 
  left: -12px; 
  right: -12px; 
  bottom: -12px; 
  z-index: -1; 
}

.text-shadow{
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

video::-webkit-media-text-track-display {
  display: none; /* Hides captions in Webkit browsers (Chrome, Safari) */
}

video::cue {
  display: none; /* Hides captions in other browsers (Firefox, etc.) */
}

@media (min-height: 800px) and (max-height: 980px) and (min-width: 1024px) {
  .login-form-wrapper {
    padding: 20px !important;
    margin-bottom: 0 !important;
  }

  .custom-swiper .swiper-pagination {
    bottom: 5% !important;
    left: 10% !important;
  }

  .login-form-wrapper form .custom-login-input {
    height: 45px !important;
  }

  .login-form-wrapper form {
    margin-top: 15px !important;
  }

  .login-form-wrapper form .custom-login-input input {
    padding-right: 2.5rem;
    padding-left: 2.5rem !important;
    font-size: 12px !important;
  }

  .login-form-wrapper form .custom-login-input input::placeholder {
    font-size: 12px !important;
  }

  .login-form-wrapper form .custom-login-input .custom-login-input-icon {
    left: 15px !important;
  }

  .login-form-wrapper form .custom-login-input .custom-input-password-icon {
    right: 15px !important;
  }

  .login-form-wrapper form .custom-login-input .custom-login-input-icon svg {
    font-size: 16px !important;
  }

  .login-form-wrapper form .custom-login-button {
    height: 55px !important;
  }

  .login-form-wrapper form .custom-input-wrapper {
    gap: 10px !important;
    margin-bottom: 10px !important;
  }

  .custom-service-box {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}

@media (max-width: 1018px) {
  .sofa_swiper .swiper-pagination {
    bottom: 0.5% !important;
    left: 0 !important;
  }
}

@media (max-width: 895px) {
  .product-slider-wrapper .custom-slick-prev-arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 0 !important;
  }

  .product-slider-wrapper .custom-slick-prev-arrow svg {
    transform: rotate(-90deg);
  }

  .product-slider-wrapper .custom-slick-next-arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: auto !important;
    right: 0 !important;
  }

  .product-slider-wrapper .custom-slick-next-arrow svg {
    transform: rotate(-90deg);
  }

  .custom-swiper-pagination {
    bottom: 5px !important;
  }

  .product-slider.custom-Slick .slick-list {
    height: auto !important;
  }
  .Bannerclas .swiper-pagination {
    bottom: 10px !important;
  }
}

@media (max-width: 480px) {
  .product-slider-wrapper .custom-slick-prev-arrow {
    left: -7px !important
  }

  .product-slider-wrapper .custom-slick-next-arrow {
    right: -7px !important
  }
  .no-scroll {
    overflow: hidden;
  }
}